{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": [
    "packages/**/*.ts",
    "packages/**/*.tsx"
  ],
  "exclude": [
    "**/*.d.ts"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text",
    "html"
  ],
  "sourceMap": true,
  "instrument": true,
  "all": true
}