{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "overrides": [{
    "files": [
      "!**/dist",
      ".storybook/*.ts",
      "packages/**/*.ts",
      "stories/**/*.tsx",
      "util/*.ts",
      "webpack-ts/**/*.ts"
    ],
    "options": {
      "trailingComma": "all"
    }
  }]
}